@inherits LayoutComponentBase
@using System
@using System.Net.Http
@page "/"
@inject HttpClient Http

<div>
    <h1>@helloWorld</h1>
</div>

@code {
    string helloWorld = "Hello, World! C#";

    /*
    private string data;

    protected override async Task OnInitializedAsync()
    {
        this.data = await Http.GetStringAsync("hello").ConfigureAwait(false);
    }
    */
}
